@import "../variables";

.aside-menu {
  display: flex;
  flex-direction: column;
  width: 80px;
  border-right: 1px solid $borderColor;
  position: fixed;
  left: 0;
  height: 100vh;

  @extend %menu-icons;

  .aside-menu.white-aside,
  .mobile-aside-menu.white-aside {

    border-right: 1px solid rgba(255, 255, 255, 0.05);

    .aside-open-menu {
      background-image: url("../../img/menu-icon-white.svg");
    }

    .aside-search {
      background-image: url("../../img/search-icon-white.svg");
    }

    .aside-mail {
      background-image: url("../../img/mail-icon-white.svg");
    }

  }
}


@media (max-width: 1209px) {
  .aside-menu{
    display: none;
  }
}