
.company-navigation-list {
    display: flex;
    border-bottom: 1px solid $borderColor;
    font-family: "Formular Bold";
    font-size: 16px;
    :first-child {
        padding-left: 0;
    }
    .navigation-item {
        padding: 0;
        margin-right: 32px;
        padding-bottom: 18px;
        a {
            padding-bottom: 18px;
        }
        &.active-item {
            a {
                color: rgba(#333333, 0.5);
            }
            border-bottom: 3px solid $text-blue;
        }
    }
}