.alt-menu {
  position: fixed;
  left: 80px;
  height: 100vh;
  width: 533px;
  z-index: 2;
  box-shadow: 8px 0px 15px -2px rgba(black, 0.2);
  background-color: white;
  overflow-y: auto;
  padding-top: 8px;
  display: none;
  &#alt-menu-1 {
    .request-input-group {
      display: none;
    }
  }
  &#alt-menu-3 {
    padding: 0 60px;
    padding-top: 8px;
    h2 {
      margin-top: 32px;
      margin-bottom: 92px;
    }
    .block-request {
      .input-control:last-child {
        margin-bottom: 58px;
      }
    }
  }
  &#alt-menu-2 {
    padding-left: 60px;
    padding-right: 60px;
    input {
      width: 412px;
    }
    h2 {
      margin-top: 32px;
      margin-bottom: 280px;
    }
  }
  &.opened {
    display: block;
  }

  .submenu-list {
    padding-left: 60px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid $borderColor;
    max-height: 117px;
    overflow: hidden;
    transition: max-height 0.5s;

    &.opened {
      max-height: 1000px;
    }

    p.text {
      &:last-child {
        margin-bottom: 40px;
      }
    }

    .submenu-item {
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 40px;
      }
    }

    .menu-item {
      margin-bottom: 40px;
      user-select: none;
      cursor: pointer;
      width: 100%;
      &.expanded {
        display: inline-block;
        position: relative;
        &::after {
          position: absolute;
          display: inline-block;
          content: "";
          width: 20px;
          height: 17px;
          background-image: url(../../img/arrow-down.svg);
          background-repeat: no-repeat;
          margin-left: 183px;
          top: 20px;
        }
        &.opened {
          display: inline-block;
          position: relative;
          &::after {
            position: absolute;
            display: inline-block;
            content: "";
            width: 20px;
            height: 17px;
            background-image: url(../../img/arrow-up.svg);
            background-repeat: no-repeat;
            margin-left: 183px;
            top: 20px;
          }
        }
      }
    }
    h3 {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .menu-item {
    &.expanded {
      display: inline-block;
      position: relative;
      &::after {
        display: inline-block;
        content: "";
        position: absolute;
      }
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: 375px) {
  .alt-menu {
    top: 56px;
    left: 0;
    padding-top: 0;
    box-shadow: none;
    width: 100%;
    &#alt-menu-1 {
      .request-input-group {
        display: block;
        padding: 40px 25px;
        border-bottom: 1px solid $borderColor;
        margin: 0;
        .input-control {
          margin-bottom: 0;
          .text {
            top: 0;
          }
          input {
            width: 100%;
            padding-bottom: 8px;
            &:focus ~ .text {
              color: rgba(33, 33, 33, 1);
              font-size: 16px;
              top: -18px;
            }
            &:not(:focus):valid ~ .text {
              color: rgba(33, 33, 33, 1);
              font-size: 16px;
              top: -18px;
            }
          }
          &::after {
            bottom: 10px;
          }
        }
      }
    }
    &#alt-menu-3 {
      padding: 0 24px;
      width: 100%;
      h2 {
        margin-bottom: 0;
      }
    }
    .submenu-list {
      padding: 28px 25px;
      max-height: 82px;
      .menu-item {
        &.expanded {
          margin: auto;
          &::after {
            margin-left: 0;
            right: 0;
            top: 10px;
          }
          &.opened {
            &::after {
              margin-left: 0;
              right: 0;
              top: 10px;
            }
          }
        }
      }
    }
  }
}
