$text-blue: #0101BF;
$site-light-gray: #333333;
$borderColor: rgba(33, 33, 33, 0.1);

@mixin menu-icons {
  .aside-open-menu {
    background-image: url("../../img/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid $borderColor;
  }

  .aside-search {
    flex-grow: 1;
    background-image: url("../../img/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 5%;
  }

  .aside-mail {

    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .aside-icon {
    height: 80px;
    width: 80px;
  }

  button {
    cursor: pointer;
  }
}