body {
  margin: 0 auto;
}

*{
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  background-color: initial;
}


a{
  text-decoration: none;
  color: black;
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .callback{
    font-family: 'Formular Bold';
    font-size: 13px;
    text-transform: uppercase;
    color: #0101BF;
  }

  .phone-number {
    margin: 0;

    font-family: "Formular";
    font-size: 13px;
    line-height: 16px;

    &::before{
      vertical-align: middle;
      content: " ";
      display: inline-block;
      background-image: url("../img/phone-icon.svg");
      width: 32px;
      height: 32px;
    }
  }
  button {
    cursor: pointer;
  }
}

// <----------aside------------->

.aside-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;

  .aside-open-menu{
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .aside-search {
    flex-grow: 1;
    background-image: url("../img/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 5%;
  }
  .aside-mail {

      background-image: url("../img/mail-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
  }
  height: 100vh;

  button {
    cursor: pointer;
  }

}
.aside-icon {
  height: 80px;
}


//<----------navigation------------->

.main-navigation{
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;


}

.navigation-item {
  padding: 29px 20px 0 20px;
  a{
    padding: 32px 0 29px 0;
  }
}

.navigation-item.active-item{
  a {
    border-bottom: 3px solid #0101BF;
    color: #333333;
    opacity: 0.5;
  }
}

.navigation-list {
  font-family: "Formular Bold";

  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;

  margin: 0;
  margin-left: 35px;

  display: flex;
  justify-content: space-between;
  //align-items: center;
  align-self: stretch;



}


.header-contacts {
  display: flex;
  width: 315px;
  justify-content: space-between;
}

//<----------main content------------->

.main-area {
  display: flex;

}

.main-content{
  padding: 0 80px;
  max-width: 1286px;
  margin: 0 auto;
}




//<----------activities------------->

.activities {
  padding-top: 25px;
  font-family: Formular;

  h2{
    font-family: Formular Bold;
    font-size: 40px;
    line-height: 60px;
    margin-top: 18px;
    margin-bottom: 55px;
    color: #333333;
  }

  .breadcrumbs {
    display: flex;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    opacity: 0.7;
    margin-top: 0;

    & li:not(:first-child)::before{
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 1px;
      background-color: #C4C4C4;
      margin: 0 16px;
    }
  }

}

.activities-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;

  li {
    margin-bottom: 40px;
    margin-right: 40px;
  }

  h3 {
    font-family: Formular;
    font-size: 23px;
    line-height: 28px;
  }

  a:hover {
    color: #0101BF;
  }

}

@font-face {
  font-family: 'Formular Bold';
  src: local('Formular Bold'), local('Formular-Bold'),
  url('../fonts/Formular-Bold.woff2') format('woff2'),
  url('../fonts/Formular-Bold.woff') format('woff'),
  url('../fonts/Formular-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: local('Formular Regular'), local('Formular-Regular'),
  url('../fonts/Formular.woff2') format('woff2'),
  url('../fonts/Formular.woff') format('woff'),
  url('../fonts/Formular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

