@import "fonts";
@import "variables";
@import "global";
@import "main-header";
@import "aside";
@import "contacts";
@import "main-footer";







//<----------activities------------->

.activities {
  padding-left: 80px;
  display: flex;
}

.activities-section {
  padding-top: 25px;

  h1{
    margin-top: 18px;
    margin-bottom: 32px;
  }

}

.activities-list {
  display: flex;
  flex-wrap: wrap;
  margin:0 -40px -45px 0;

  li {
    margin-bottom: 45px;
    margin-right: 40px;
  }

  h2 {
    margin-top: 25px;
    font-size: 23px;
    line-height: 28px;
  }
  a {
    color: #333333;

    &:hover {
      color: $text-blue;
    }
  }
}



