@import "variables";

body {
  margin: 0 auto;
  font-family: "Formular";
  color: #333333;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  background-color: initial;
}

a {
  text-decoration: none;
}

p {
  line-height: 28px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.5);
}

label {
  color: rgba(33, 33, 33, 1);
}

input,
input::placeholder {
  color: rgba(33, 33, 33, 1);
  font-family: Formular;
  font-size: 23px;
  line-height: 32px;
  padding-bottom: 12px;
  padding-top: 12px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
}

h1 {
  font-family: Formular Bold;
  font-size: 40px;
  line-height: 60px;
}

.content-wrapper {

  padding: 0 80px;
  max-width: 1286px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 0;
  a{
    color: #333333;
  }

  & li:not(:first-child)::before{
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 1px;
    background-color: #333333;
    margin: 0 16px;
  }
  & li:last-child {
    opacity: 0.5;
  }
}

.primary-button {
  font-family: Formular;
  color: $text-blue;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border: 3px solid $text-blue;

  &:focus {
    outline: none;
    border-color: black;
  }
}

.primary-rounded-button
{
  font-family: Formular Bold;
 background-image: url("../../img/primary-button-blue.svg");
  background-size: 100% 100%;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  color: #fff;
  &.transparent{
    background-image: url("../../img/primary-button-transparent.svg");
    color: $text-blue;
  }
}

a.primary-rounded-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


a.primary-link {
  color: $text-blue;
}




