@import "../variables";
@import "../navigation_block";
@import "../company-navigation-list";

.leadership {
    padding: 25px 80px 0 80px;
    &-wrapper {
        max-width: 1126px;
        margin: 0 auto;
        h1 {
            margin-bottom: 16px;
            margin-top: 18px;
        }
        h2 {
            margin-top: 48px;
        }
        h3 {
            margin-top: 40px;
        }
        .top-managers-header {
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }
}

.leaders-list {
    max-width: 1126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .leader-item {
        padding: 40px;
        border: 1px solid $borderColor;
        border-radius: 5px;
        display: flex;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .leader-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;

        .header-info {
            h3 {
                margin-bottom: 8px;
                margin-top: 8px;
            }
            .leader-position {
                margin-top: 0;
                color: #333333;
                font-weight: bold;
            }
        }
        .btn-border {
            display: inline-block;
            position: relative;
            background-color: $text-blue;
            width: 204px;
            height: 64px;
            clip-path: polygon(9% 0, 91% 0, 100% 25%, 100% 75%, 91% 100%, 9% 100%, 0 75%, 0 25%);
            .primary-rounded-button {
                clip-path: polygon(8% 0, 92% 0, 100% 23%, 100% 76%, 92% 100%, 8% 100%, 0 75%, 0 25%);
                position: relative;
                width: 200px;
                height: 60px;
                top: 2px;
                left: 2px;
            }
        }
        p {
            margin-top: 0;
        }
    }
}

.leader-photo {
    max-width: 275px;
    max-height: 275px;
    img {
        height: auto;
        clip-path: polygon(10% 0, 100% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 100%, 0 10%);
    }
}

.top-managers-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
    margin-bottom: -20px;
    .top-manager-item {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        margin-right: 40px;
        margin-bottom: 20px;
        img {
            max-width: 150px;
            clip-path: polygon(13% 0, 100% 0, 100% 0, 100% 92%, 89% 100%, 0 100%, 0 100%, 0 9%);
        }
        p {
            margin-top: 8px;
        }
        p.text {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}

.modal {
    z-index: 3;
    padding: 24px 40px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 831px;
    max-height: 608px;
    overflow: auto;
    background-color: white;
    box-shadow: 0 4px 20px -6px;
    display: none;
    transform: scale(1);
    transition: all 2s;
    &.opened {
        display: block;
        transform: scale(1);
    }
    .modal-header {
        position: relative;
        .close-button {
            display: inline-block;
            position: absolute;
            top: -10px;
            right: -10px;
            background-image: url("../../img/black-close-icon.svg");
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
        h2 {
            margin-bottom: 0;
            margin-top: 16px;
        }
        p.text {
            font-weight: 700;
            margin-bottom: 32px;
        }
    }
}

.modal-content {
    .leader-photo {
        margin-top: 40px;
        margin-bottom: 32px;
    }
}

@media (max-width: 375px) {
    .leadership {
        padding: 25px 25px;
        .leadership-wrapper {
            .company-navigation-list {
                overflow-x: auto;
            }
            .leader-header{
                margin-top: 24px;
            }
            .leaders-list {
                .leader-item {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    .leader-photo{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .leader-info {
                        margin: 0;
                        margin-top: 24px;
                        .btn-border {
                            width: 100%;
                            .primary-rounded-button {
                                width: 97.5%;
                                left: 3px;
                            }
                        }
                    }
                }
            }

            .top-managers-list {
                flex-wrap: nowrap;
                overflow-x: auto;
                margin: 0;
                .top-manager-item {
                    margin-bottom: 0;
                }
            }
        }
    }

    .navigation-block {
        padding: 0;
        .navigation-block-wrapper {
            display: flex;
            flex-direction: column;
            a {
                &:first-child {
                    padding: 32px 0;
                    border-bottom: 1px solid $borderColor;
                    text-align: right;
                    h3 {
                        margin-right: 25px;
                        &::before {
                            align-self: flex-start;
                            right: 62%;
                        }
                    }
                }
                &:last-child {
                    padding: 32px 0;
                    border-bottom: 1px solid $borderColor;
                    h3 {
                        margin-left: 25px;
                        &::after {
                            left: 40%;
                        }
                    }
                }
            }
        }
    }

    .modal{
        height: 100%;
        &.opened{
            width: 100%;
            margin: 0;
            padding: 24px;
            max-height: none;
            .company-navigation-list{
                overflow: auto;
            }
        }
    }
}
