@import "../variables";
@import "../global";
@import "../main-header";
@import "../aside";
@import "../contacts";
@import "../main-footer";
@import "../fonts";

.leadership {
    padding: 25px 80px 0 80px;
    &-wrapper {
        max-width: 1126px;
        margin: 0 auto;
        h1 {
            margin-bottom: 16px;
            margin-top: 18px;
        }
        h2 {
            margin-top: 48px;
        }
        h3 {
            margin-top: 40px;
        }
        .top-managers-header {
            margin-top: 60px;
            margin-bottom: 20px;
        }
    }
}

.company-navigation-list {
    display: flex;
    border-bottom: 1px solid $borderColor;
    font-family: "Formular Bold";
    font-size: 16px;
    :first-child {
        padding-left: 0;
    }
    .navigation-item {
        padding: 0;
        margin-right: 32px;
        padding-bottom: 18px;
        a {
            padding-bottom: 18px;
        }
        &.active-item {
            a {
                color: rgba(#333333, 0.5);
            }
            border-bottom: 3px solid $text-blue;
        }
    }
}

.leaders-list {
    max-width: 1126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .leader-item {
        padding: 40px;
        border: 1px solid $borderColor;
        border-radius: 5px;
        display: flex;
        margin-bottom: 40px;
        .leader-photo {
            max-width: 275px;
            max-height: 275px;
            .img {
                height: auto;
                width: 100%;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    .leader-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;

        .header-info {
            h3 {
                margin-bottom: 8px;
                margin-top: 8px;
            }
            .leader-position {
                margin-top: 0;
                color: #333333;
                font-weight: bold;
            }
        }
        p {
            margin-top: 0;
        }
    }
}

.top-managers-list {
    display: flex;
    flex-wrap: wrap;
    .top-manager-item {
        max-width: 246px;
        margin-right: 40px;
    }
}

.navigation-block {
    padding: 60px 80px;
    width: 100%;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1126px;
        .link-back {
            position: relative;
            margin-left: 52px;
            &::before {
                position: relative;
                display: inline-block;
                content: "";
                width: 50px;
                height: 11px;
                background: url("../../img/arrow-left.svg");
                background-repeat: no-repeat;
                background-position: 95% 50%;
                right: 48px;
            }
        }
        .link-forward{
            position: relative;
            margin-right: 52px;
            &:after {
                position: relative;
                display: inline-block;
                content: "";
                width: 50px;
                height: 11px;
                background: url("../../img/arrow-right.svg");
                background-repeat: no-repeat;
                background-position: 95% 50%;
                left: 48px;
            }
        }
    }
}