@import "../variables";

.main-header {
  border-bottom: 1px solid $borderColor;
  padding: 0px 80px;
  height: 80px;

  .callback {
    font-family: "Formular Bold";
    font-size: 13px;
    text-transform: uppercase;
    color: $text-blue;
    white-space: nowrap;
  }

  .header-wrapper {
    display: flex;
    max-width: 1126px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .phone-number {
    margin: 0;
    margin-right: 12px;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;

    &::before{
      vertical-align: middle;
      content: " ";
      display: inline-block;
      background-image: url("../../img/phone-icon.svg");
      width: 32px;
      height: 32px;
    }
  }
  button {
    cursor: pointer;
  }
}

.header-contacts {
  display: flex;
  width: 315px;
  justify-content: space-between;
}


//<----------navigation------------->

.main-navigation{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  .navigation-item {
    padding: 0 20px;
    a {
      padding: 32px 0 29px 0;
      color: #333333;
      &:hover {
        color: $text-blue;
      }
    }
  }
  .navigation-item.active-item {
    a {
      border-bottom: 3px solid $text-blue;
      color: rgba(33, 33, 33, 0.5);
    }

  }
}

.navigation-list {
  font-family: "Formular Bold";

  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;

  margin: 0;
  margin-left: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}



.main-header.white-header {

  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .navigation-item.active-item{
    a{
      opacity: 0.5;
      border-bottom: none;
    }
  }

  a,
  .phone-number,
  .callback{
    color: #fff;
  }

  .phone-number{
    &::before {
      background-image: none;
    }
  }
}


.mobile-aside-menu {

  @extend %menu-icons;

  display: none;
  //height: 56px;

  .aside-open-menu,
  .aside-mail {
    border-right: 1px solid $borderColor;
    border-bottom: none;
  }

}

@import "./main-header-adaptive";

@import './main-header-adaptive';