
@media (max-width: 754px)
{
    .main-logo {
        width: 191px;
        height: 28px;
    }

    .mobile-aside-menu {
        .aside-icon.mail-icon,
        .aside-icon.menu-icon{
            width: 56px;
            height: 56px;
        }
        button{
            padding: 0;
        }
    }

    .main-header{
        height: 56px;
    }

    .main-navigation{
        height: 56px;
    }
}


@media (max-width: 1209px)
{
    .navigation-list {
        display: none;
    }
    .header-contacts {
        display: none;
    }
    .main-header{
        padding: 0;
        padding-left: 25px;
        .header-wrapper{
            margin: 0;
            justify-content: space-between;
        }
    }
    .mobile-aside-menu{
        display: flex;
    }
}