@import "../variables";
@import "../aside/aside";
@import "../menu-aside";
@import "../search-aside";
@import "../main-header/main-header";
@import "../main-footer/main-footer";
@import "../contacts";
@import "../fonts";

body {
  margin: 0 auto;
  font-family: "Formular";
  color: #333333;
  &.noScroll {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  background-color: initial;
  outline: none;
}

a {
  text-decoration: none;
  color: $site-light-gray;
  &:hover {
    color: $text-blue;
  }
}

p {
  line-height: 28px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

label {
  color: rgba(33, 33, 33, 1);
}

input {
  color: rgba(33, 33, 33, 1);
  font-size: 23px;
  line-height: 32px;
  padding-bottom: 20px;
  padding-top: 12px;
  outline: none;
  font-family: Formular Medium;
  position: relative;
}

.input-control {
  position: relative;
  .text {
    position: absolute;
    top: 16px;
    font-family: Formular Medium;
    font-size: 23px;
    color: rgba(33, 33, 33, 0.5);
    pointer-events: none;
    transition: 0.2s ease all;
    margin: 0;
  }
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgba(33, 33, 33, 0.2);

  &:focus {
    border-color: $text-blue;
  }
  &:focus ~ .text {
    color: rgba(33, 33, 33, 1);
    font-size: 16px;
    top: -18px;
  }
  &:not(:focus):valid ~ .text {
    color: rgba(33, 33, 33, 1);
    font-size: 16px;
    top: -18px;
  }
}

h1 {
  font-family: Formular Bold;
  font-size: 40px;
  line-height: 60px;
}
h2 {
  font-family: Formular Bold;
  font-size: 32px;
  line-height: 39px;
}
h3 {
  font-family: Formular Medium;
  font-size: 23px;
  line-height: 28px;
  font-weight: 500;
}

.text {
  font-family: Formular;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.content-wrapper {
  padding-left: 40px;
  max-width: 1206px;
  margin: 0 auto;
}

.main-content {
  width: 100%;
  padding-left: 80px;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 0;
  a {
    color: #333333;
  }

  & li:not(:first-child)::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 1px;
    background-color: #333333;
    margin: 0 16px;
  }
  & li:last-child {
    opacity: 0.5;
  }
}

.section-wrapper {
  margin: 0 auto;
  max-width: 1126px;
}

.primary-rounded-button {
  font-family: Formular Bold;
  clip-path: polygon(9% 0, 91% 0, 100% 25%, 100% 75%, 91% 100%, 9% 100%, 0 75%, 0 25%);
  border-radius: 20px;
  background-size: 100% 100%;
  background-color: $text-blue;
  color: white;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background-color: #2525e8;
    color: white;
  }

  color: #fff;
  &.transparent {
    color: $text-blue;
    background-color: white;

    &:active {
      background-color: $text-blue;
      color: white;
    }
  }
}

a.primary-rounded-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

a.primary-link {
  color: $text-blue;
}

@media (max-width: 375px) {
  .main-content {
    padding-left: 0;
  }
  .input-control {
    width: auto;
  }
  input {
    font-size: 20px;
    padding-bottom: 16px;
    padding-top: 0;
  }

  h1 {
    font-family: Formular Bold;
    font-size: 30px;
    line-height: 37px;
  }

  h2 {
    font-family: Formular Bold;
    font-size: 25px;
    line-height: 31px;
  }

  h3 {
    font-family: Formular Medium;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}
