.page-summary {
    padding: 25px 0 65px 80px;
    width: 1284px;
  height: 453px;
    margin: 0 auto;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

h1{
    margin-top: 18px;
    margin-bottom: 15px;
}

&-main {
     width: 610px;
     margin-bottom: 125px;
 }

&-links {
     font-family: Formular Medium;
     font-size: 16px;
 }

&-button {
     width: 212px;
     height: 58px;
     margin-right: 38px;
 }
}