@media (max-width: 375px) {
    .history {
        padding: 25px 25px;

        .history-wrapper {
            .company-navigation-list {
                overflow-x: auto;
            }
            .history-list {
                margin-bottom: 40px;
            }
            h2{
                margin-top: 24px;
            }
        }
    }

    .history-period {
        display: none;
    }

    .navigation-block {
        padding: 25px 32px;
        .navigation-block-wrapper {
            h3 {
                &::after {
                    left: 130px;
                }
            }
        }
    }
}
