@import "../variables";
@import "../navigation_block";
@import "../company-navigation-list";

.partners {
    padding: 25px 80px 0 80px;
    &-wrapper {
        max-width: 1126px;
        margin: 0 auto;
        h1 {
            margin-bottom: 16px;
            margin-top: 18px;
        }
        h2 {
            margin-top: 48px;
        }
        h3 {
            margin-top: 40px;
        }
        .partners-header {
            margin-top: 48px;
            margin-bottom: 40px;
        }
    }
}

.partner-list {
    display: flex;
    flex-wrap: wrap;

    .left-side {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-right: 1px solid $borderColor;
        .partner-item {
            display: flex;
            min-height: 245px;
            justify-content: center;
            width: 370px;
            border-bottom: 1px solid $borderColor;
            &:last-child {
                border-bottom: none;
            }
            img {
                display: block;
                align-self: center;
                margin: 0 auto;
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-right: 1px solid $borderColor;
        .partner-item {
            display: flex;
            min-height: 245px;
            justify-content: center;
            width: 370px;
            border-bottom: 1px solid $borderColor;
            &:last-child {
                border-bottom: none;
            }
            img {
                display: block;
                align-self: center;
                margin: 0 auto;
            }
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .partner-item {
            display: flex;
            min-height: 245px;
            justify-content: center;
            width: 370px;
            border-bottom: 1px solid $borderColor;
            &:last-child {
                border-bottom: none;
            }
            img {
                display: block;
                align-self: center;
                margin: 0 auto;
            }
        }
    }
}

.navigation-block {
    margin-top: 100px;
}

@media (max-width: 375px) {
    .partners {
        padding: 0;
        padding-top: 25px;
        .partners-wrapper {
            .breadcrumbs{
                margin-left: 25px;
            }
            h1{
                margin-left: 25px;
            }
            .company-navigation-list {
                overflow-x: auto;
                margin-left: 25px;
                margin-right: 25px;
            }
            .partners-header{
                margin-left: 25px;
                margin-top: 24px;
                margin-bottom: 16px;

            }
            .partner-list {
                overflow: hidden;
                .left-side {
                    width: 50%;
                    .partner-item {
                        height: 127px;
                        width: auto;
                        min-height: auto;
                        img {
                            width: 65%;
                            height: auto;
                        }
                    }
                }
                .center {
                    width: 50%;
                    border-right: none;
                    .partner-item {
                        width: auto;
                        height: 127px;
                        min-height: auto;
                        img {
                            width: 65%;
                            height: auto;
                        }
                    }
                }
                .right-side {
                    flex-direction: row;
                    width: auto;
                    border-top: 1px solid $borderColor;
                    .partner-item {
                        width: 50%;
                        height: 127px;
                        min-height: auto;
                        &:first-child{
                            border-right: 1px solid $borderColor;
                        }
                        &:nth-child(3n+3){
                            border-right: 1px solid $borderColor;
                        }
                        img {
                            width: 65%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .navigation-block {
        padding: 0;
        margin-top: 40px;
        .navigation-block-wrapper {
            display: flex;
            flex-direction: column;
            a {
                &:first-child {
                    padding: 32px 0;
                    border-bottom: 1px solid $borderColor;
                    text-align: right;
                    h3 {
                        margin-right: 25px;
                        &::before {
                            align-self: flex-start;
                            right: 40%;
                        }
                    }
                }
                &:last-child {
                    padding: 32px 0;
                    border-bottom: 1px solid $borderColor;
                    h3 {
                        margin-left: 25px;
                        &::after {
                            left: 40%;
                        }
                    }
                }
            }
        }
    }
}
