@import "../variables";
@import "../page-summary/page-summary";

.repairs-info {
  padding-left: 80px;

  .background-wrapper {
    background-color: rgba(196, 196, 196, 0.1);
  }

  .page-summary {
    background-image: url("../../img/wagon-broken.png");
    background-position: right;
    &-main {
      margin-bottom: 65px;
    }
  }
}

.nav-tabs {
  display: flex;
  border-bottom: 1px solid $borderColor;
  font-family: "Formular Bold";
  font-size: 16px;

  :first-child {
    padding-left: 0;
  }

  .tab {
    padding: 0;
    margin-right: 32px;
    padding-bottom: 18px;

    &.active-item {
      color: rgba(#333333, 0.5);
      border-bottom: 3px solid $text-blue;
    }
  }
}

.wagons-types,
.repairs-types {
  padding-top: 60px;
  h2 {
    font-family: Formular Bold;
    font-size: 32px;
    line-height: 60px;
    margin: 0;
  }

  &-services {
    margin: 0;
  }
}

.repairs-types {
  padding-bottom: 55px;
  border-bottom: 1px solid $borderColor;

  &-list {
    margin-bottom: 0;
  }

  &-services {
    padding: 60px 0 0 56px;

    li {
      max-width: 805px;
      line-height: 28px;
      font-size: 16px;
      color: rgba(33, 33, 33, 0.7);
      margin-bottom: 25px;
      position: relative;
      &::before {
        position: absolute;
        content: " ";
        display: inline-block;
        width: 24px;
        height: 2px;
        background-color: $text-blue;
        top: 10px;
        left: -56px;
      }
    }
  }
}

.wagons-types {
  h2 {
    margin-bottom: 40px;
  }

  .content-wrapper {
    padding-bottom: 60px;
  }

  &-services {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 300px;
    }
  }
}

.wagons-card {
  margin-right: 70px;

  &-image-container {
    display: flex;
    align-items: center;
    min-height: 160px;
  }

  h3 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 15px;
  }

  p {
    max-width: 250px;
  }
}

.repairs-price-tape {
  font-family: "Formular Medium";
  padding: 0 80px;
  background-color: #0101bf;
  background-image: url("../../img/repair-contract.png");
  background-repeat: no-repeat;
  background-position: right;

  .mobile-img {
    display: none;
  }

  color: #fff;

  a {
    color: white;
  }
  .links {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .btn-border {
    position: relative;
    margin-right: 35px;
    clip-path: polygon(9% 0, 91% 0, 100% 25%, 100% 75%, 91% 100%, 9% 100%, 0 75%, 0 25%);
    background-color: white;
    width: 242px;
    height: 64px;
    border-radius: 20px;
    .primary-rounded-button {
      width: 238px;
      height: 60px;
      position: relative;
      top: 2px;
      left: 2px;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 32px;
  }
  .dash {
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin: 0 15px 6px;
  }

  .content-wrapper {
    max-width: 1126px;
    padding: 37px 0px;
  }
}

.navigation-block {
  padding: 60px 80px;
  width: 100%;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  &-wrapper {
    margin: 0 auto;
    max-width: 1126px;
    h3 {
      position: relative;
      &:after {
        position: relative;
        display: inline-block;
        content: "";
        width: 50px;
        height: 11px;
        background: url("../../img/arrow-right.svg");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        left: 48px;
      }
    }
  }
}

@import './repairs-info-adaptive.scss'